<% if current_user.present? %>
  <li>
    <img src="<%= current_user.image_path%>" class="img-circle" alt="Cinque Terre" width="30" height="30">
  </li>
  <li>
    <%= current_user.name %>
  </li>
  <li><%= link_to "Sign out", signout_path, id: "sign_out" %>
  </li>
<% else %>
  <div class="login">
    <div class="content">
      <div class="panel" id="login">
      <a href='/auth/facebook' class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Connect with Facebook
      </a>
      <a href='/auth/google_oauth2' class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Connect with Google
      </a>
      </div>
    </div>
  </div>
<% end %>
