<style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  .ScrollStyle{
    max-height: 500px;
    overflow-y: scroll;
    word-wrap: break-word;
  }
  .setBorder{
    border: 1px solid black;
  }
</style>

<% if current_user.present? %>
  <div class="row setBorder">
    <div class="col-md-4">
        <h3>Chat Users</h3>
        <%= render @user%>
    </div>
      <div class="col-md-8">
      <div class="ScrollStyle">
        <div id="messages">
          <%= render @messages%>
        </div>
      </div>
      <div>
        <form>
          <input type="text" data-behavior="room_speaker" placeholder="Type a message" class="form-control" />
        </form>
      </div>
    </div>
  </div>
<% end %>



